<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <connectionStrings>
    <add name="RentandServ_Test" connectionString="Data Source=dcbd-spsql-01;Initial Catalog=RentAndServ_Test;Integrated Security=True"/>
    <add name="RentandServ_UAT" connectionString="Data Source=dcbd-spsql-01;Initial Catalog=RentAndServ_UAT;Integrated Security=True"/>
    <add name="RentandServ_Live" connectionString="Data Source=dcal-sqlpi-02;Initial Catalog=RentAndServ_Live;Integrated Security=True"/>
  </connectionStrings>
</configuration>
